@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin: 60px 0;
  transition: box-shadow 0.3s linear, opacity 0.3s linear;
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    border-radius: 5px;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    box-shadow: none;
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 55px;

  &__list {
    display: flex;
    gap: 40px;
  }

  &__list-link {
    &--active {
      color: $orange;
    }
  }
}

.user-nav {
  display: flex;
  gap: 15px;
  &__btn {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s linear, background-color 0.3s linear,
      color 0.3s linear;
    &::before {
      @include pseudo;
      min-width: 21px;
      height: 21px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $search;
    }
    &:focus {
      background-color: rgba($orange, 0.1);
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    }
    &:hover {
      background-color: $orange;
    }
    &:hover::before,
    &:hover .user-nav__num {
      background-color: $white;
    }
    &:hover .user-nav__num {
      color: $orange;
    }
    &:active {
      background-color: $active;
    }
    &:active::before {
      background-color: $search;
    }
    &:active .user-nav__num {
      background-color: $orange;
      color: $white;
    }
    &--search {
      &::before {
        mask-image: url("../images/sprite.svg#icon-search");
      }
    }

    &--basket {
      position: relative;
      &::before {
        mask-image: url("../images/sprite.svg#icon-cart");
      }
    }
  }

  &__num {
    position: absolute;
    font-size: 10px;
    line-height: 14px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange;
    color: $white;
    top: 6px;
    right: 2px;
  }
}

.delivery {
  &__content,
  &__order {
    display: flex;
    align-items: center;
  }

  &__content {
    justify-content: space-between;
  }

  &__cart {
    max-width: 476px;
    min-height: 349px;
    color: $search;
  }

  &__text-fast {
    margin-bottom: 20px;
    @extend %Rubik-500;
    font-size: calc(40px + (66 - 40) * ((100vw - 375px) / (1920 - 375)));
    text-transform: uppercase;
  }

  &__text-min {
    color: $orange;
    display: block;
  }

  &__text-service {
    font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 375)));
    margin-bottom: 20px;
    max-width: 450px;
    line-height: 1.5;
  }

  &__order {
    gap: 25px;
  }

  &__order-btn {
    padding: 12px 32px;
  }

  &__order-more {
    font-size: 20px;
    text-decoration-line: underline;
    transition: text-decoration 0.3s linear, box-shadow 0.3s linear,
      color 0.3s linear;
    &:focus,
    &:hover,
    &:active {
      text-decoration: transparent;
    }
  }

  &__img {
    background-image: url("../images/scooter_guy.png");
    height: 660px;
    max-width: 560px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.popular {
  &__category-items {
    display: flex;
    justify-content: space-between;
    margin: 0 52px 45px;
    gap: 20px;
  }

  &__category-btn {
    gap: 10px;
    padding: 13px 32px;
    background-color: $white;
    cursor: pointer;
    font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (1920 - 375)));
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px $border;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &::before {
      @include pseudo;
      width: 42px;
      height: 43px;
      mask-image: url("../images/sprite.svg#icon-category-burger");
      background-color: $search;
      transition: background-color 0.3s ease-in-out;
    }

    &:focus,
    &:hover {
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    }

    &:hover {
      color: $orange;
      background-color: rgba($orange, 0.1);
    }

    &:hover::before {
      background-color: $orange;
    }

    &:active {
      color: $search;
      background-color: $white;
      box-shadow: inset 0px -5px 12px rgba($orange, 0.2);
    }

    &:active::before {
      background-color: $search;
    }

    &--active {
      background-color: $orange;
      color: $white;

      &::before {
        background-color: $white;
      }
    }
    &--pizza {
      &::before {
        mask-image: url("../images/sprite.svg#icon-category-pizza");
      }
    }

    &--sandvich {
      &::before {
        mask-image: url("../images/sprite.svg#icon-category-sandvich");
      }
    }

    &--asia {
      &::before {
        mask-image: url("../images/sprite.svg#icon-category-asia");
      }
    }

    &--dish {
      &::before {
        mask-image: url("../images/sprite.svg#icon-category-dish");
      }
    }
  }
}

.burgers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
}

.burger-card {
  padding: 20px 15px;
  background-color: $white;
  text-align: center;
  box-shadow: 0px 0px 0px 1px $border;
  border-radius: 5px;
  max-width: 210px;
  height: 299px;

  &__title,
  &__price {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &__img {
    margin: 0 auto 10px;
  }

  &__title {
    margin-bottom: 28px;
    &--salad {
      margin-bottom: 10px;
    }
  }

  &__price {
    display: block;
    color: $search;
    @extend %Rubik-500;
  }

  &__btn {
    padding: 7px 14px;
    font-size: 14px;
  }
}

.show__more {
  font-size: 20px;
  text-decoration-line: underline;
  display: table;
  margin: 0 auto;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;

  &__form {
    margin-top: 30px;
    max-width: 200px;
    font-size: 14px;
  }

  &__form-input {
    padding: 13px 15px;
    width: 100%;
    margin-bottom: 12px;
    box-shadow: 0px 0px 0px 1px $grey;
    border-radius: 5px;
    transition: box-shadow 0.3s linear;

    &::placeholder {
      transition: color 0.3s linear;
      color: $grey;
      opacity: 0.9;
    }

    &:hover::placeholder {
      color: $search;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange;
    }
  }

  &__form-btn {
    @extend %Rubik-500;
    gap: 20px;
    padding: 13px 37px;
    &::before {
      @include pseudo;
      width: 16px;
      height: 15px;
      mask-image: url("../images/sprite.svg#icon-telegram");
      background-color: $white;
    }

    &:focus::before,
    &:hover::before,
    &:active::before {
      background-color: $orange;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    width: 100%;
    margin-right: 151px;
  }

  &__items {
    display: grid;
    gap: 20px;
  }

  &__link {
    letter-spacing: 0.01em;
  }

  &__contacts {
    display: grid;
    gap: 15px;
    margin-bottom: 60px;
  }

  &__contacts-item {
    font-size: 16px;
    line-height: 32px;
  }
  &__contacts-link {
    gap: 7px;
    &:before {
      @include pseudo;
      width: 24px;
      height: 24px;
      background-color: $dark;
    }

    &--address::before {
      mask-image: url("../images/sprite.svg#icon-location");
    }

    &--tel::before {
      mask-image: url("../images/sprite.svg#icon-call");
    }

    &--email::before {
      mask-image: url("../images/sprite.svg#icon-message");
    }
  }
}

.social {
  display: flex;
  gap: 13px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background-color: $border;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    }

    &:hover {
      background-color: $orange;
    }

    &:active,
    &:focus {
      background-color: $active;
    }
  }

  &__img {
    width: 19.5px;
    height: 19.5px;
    background-repeat: no-repeat;
    transition: filter 0.3s ease-in-out3;
    &:hover {
      filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(107deg)
        brightness(106%) contrast(98%);
    }
    &:active {
      filter: none;
    }
  }
}

.footer-bottom {
  &__copy {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    color: $white;
    background-color: $search;
  }
}

@import "media";
