.app {
  min-width: 570px size(570, 345);
  height: size(380, 195);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right calc((100vw - 1170px) / 2) center;

  @include mq(tablet-2) {
    background-position: right;
  }

  @include mq(tablet) {
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: overlay;
  }

  @include mq(phone) {
    background-size: 0;
  }
}

.app-mob {
  max-width: 470px;
  height: size(299, 195);

  &__title {
    text-align: start;
    margin-bottom: size(45, 15);
  }

  &__text {
    @include fz(20, 14);
    @include line-clamp(3);
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: size(30, 15);
  }

  &__apple,
  &__google {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__apple {
    margin-right: 30px;
  }

  &__google {
    width: 135px;
  }
}
