$rightPos: calc((100vw - size(1170, 375)) / 2);

.hero {
  min-height: size(660, 300);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right $rightPos center;

  @include mq(desktop) {
    background-position: right;
  }
  @include mq(tablet) {
    background-color: rgba($c-white, 0.85);
    background-blend-mode: overlay;
  }

  @include mq(phone) {
    background-position-x: 109px;
  }

  &__contant {
    max-width: 476px;
    padding: 25px 0;
  }

  &__title {
    max-width: 480px;
    @include fz(66, 40);
    color: $c-darkBlue-900;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;

    span {
      display: block;
      font-family: 500;
    }
  }

  &__description {
    max-width: 450px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 16px;
    @include fz(20, 16);
    @include line-clamp(4);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
