.menu-mob {
  display: none;

  &__logo {
    @include mq("tablet") {
      min-width: 200px;
      padding: 25px 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__menu {
    @include mq("tablet") {
      display: grid;
      padding: size(70, 25) 0;
      gap: size(70, 20);
      border-top: 1px solid #eeeff3;
      border-bottom: 1px solid #eeeff3;
      margin-bottom: 15px;
    }
  }

  &__contacts {
    @include mq("tablet") {
      position: absolute;
      bottom: 40px;
    }
  }

  @include mq("tablet") {
    display: block;
    position: absolute;
    padding: 0 15px;
    right: 75px;
    left: 0;
    top: 0;
    max-width: 500px;
    height: 100vh;
    overflow-y: auto;
    background-color: $c-white;
    transform: translateY(-200%);
    transition: transform 0.4s ease-in-out;
    z-index: 11;

    &.menu-mob--active {
      transform: translate(0%);
    }
  }
}
