.rest-slider {
  display: none;
  @include mq(tablet) {
    display: block;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
  }

  &__dot {
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $c-gray;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: background-color 0.3s linear, outline-color 0.3s linear;

    &--active {
      background-color: $c-orange-900;
    }

    &:focus {
      outline-color: $c-orange-900;
    }
    &:hover {
      outline-color: rgba($c-orange-900, 0.5);
      background-color: rgba($c-orange-900, 0.1);
    }
    &:active {
      outline-color: transparent;
      background-color: rgba($c-orange-900, 0.5);
    }
  }
}
