.tabs-form {
  padding-top: size(60, 45);
  &__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    opacity: 0.9;
    margin-right: 15px;
  }

  &__label {
    display: grid;
    height: 16px;
  }

  &__input {
    margin: 0;
    &:checked + .tabs-form__checkbox {
      &::before {
        background-color: #ffb800;
      }
    }
  }

  &__checkbox {
    min-width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__box {
    display: flex;
    gap: size(30, 20);
    margin-bottom: 30px;
    @include mq(phone) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 400px;
    width: 100%;
    @include mq(phone) {
      max-width: 100%;
    }
  }

  &__text {
    font-size: 20px;
    opacity: 0.9;
  }

  &__textarea {
    margin-top: 15px;
    padding: 16px 18px;
    resize: none;
    width: 100%;
    min-height: 165px;
    border: 1px solid $c-gray;
    border-radius: 5px;
    &::placeholder {
      font-size: 16px;
      color: $c-gray;
      transition: all 0.3s linear;
    }

    &:hover::placeholder {
      color: $c-dark;
    }
  }

  &__right {
    max-width: 260px;
    width: 100%;
    @include mq(phone) {
      max-width: 100%;
    }
  }

  &__info {
    padding: 18px;
    margin: 15px 0 10px;
    width: 100%;
    border: 1px solid $c-gray;
    border-radius: 5px;
    &::placeholder {
      font-size: 16px;
      color: $c-gray;
      transition: all 0.3s linear;
    }

    &:hover::placeholder {
      color: $c-dark;
    }

    @include mq(phone) {
      margin-bottom: 20px;
    }
  }

  &__save-label {
    position: relative;
    padding-left: 32px;
    margin-bottom: 30px;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 22px;
      height: 22px;
      transition: all 0.3s linear;
    }

    &::before {
      border-radius: 3px;
      border: 1px solid $c-gray;
      background-color: $c-white;
    }

    &::after {
      mask-image: url("../images/sprite.svg#icon-check");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 12px;
      background-color: $c-darkBlue-900;
      opacity: 0;
    }
  }

  &__save-input {
    &:checked {
      & + .tabs-form__save-label {
        &::before {
          border-color: $c-dark;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    width: 217px;
    height: 47px;
  }
}
