<section
  class="about mb-120"
  style="background-image: url('images/food_delivery.png')"
>
  <div class="container">
    <h2 class="sr-only">Про наші особливости доставкихі їжі</h2>
    <div class="about__content">
      <div class="about__title title">
        Залишайтеся вдома, а ми потурбуємося про їжу
      </div>
      <div class="about__description">
        <p>
          У нас є смачна їжа і ми готові доставити її до вас додому!
          Скористайтеся нашою доставкою прямо зараз та отримайте знижку!
        </p>
      </div>
      <ul class="about__items">
        <li class="about__item icon icon--timer">
          Швидка доставка за 15 хвилин
        </li>
        <li class="about__item icon icon--men">Чемні кур’єри</li>
        <li class="about__item icon icon--restaurant">Більше 500 закладів</li>
      </ul>
      <a class="about__btn btn" href="#">Детальніше</a>
    </div>
  </div>
</section>
