<section class="burgers-slider mb-120">
  <div class="container">
    <div class="burgers-slider__slider swiper">
      <h3 class="title burgers-slider__title">Вас може зацікавити</h3>
      <div class="burgers-slider__actions">
        <button class="burgers-slider__btn burgers-slider__btn--prev" type="button"></button>
        <button class="burgers-slider__btn burgers-slider__btn--next" type="button"></button>
      </div>
      <ul class="burgers-slider__list swiper-wrapper">

        <li class="burgers-slider__item swiper-slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burger/burger1.jpg" width="140" height="140"
                alt="Чізбургер з листям салату" />
            </a>
            <div class="product-card__price">
              160 <span class="product-card__currency">грн.</span>
            </div>
            <button class="btn btn--md product-card__btn" type="button">
              До кошика
            </button>
          </article>
        </li>

        <li class="burgers-slider__item swiper-slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burger/burger2.jpg" width="140" height="140"
                alt="Чізбургер з листям салату" />
            </a>
            <div class="product-card__price">
              160 <span class="product-card__currency">грн.</span>
            </div>
            <button class="btn btn--md product-card__btn" type="button">
              До кошика
            </button>
          </article>
        </li>

        <li class="burgers-slider__item swiper-slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burger/burger3.jpg" width="140" height="140"
                alt="Чізбургер з листям салату" />
            </a>
            <div class="product-card__price">
              160 <span class="product-card__currency">грн.</span>
            </div>
            <button class="btn btn--md product-card__btn" type="button">
              До кошика
            </button>
          </article>
        </li>

        <li class="burgers-slider__item swiper-slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burger/burger4.jpg" width="140" height="140"
                alt="Чізбургер з листям салату" />
            </a>
            <div class="product-card__price">
              160 <span class="product-card__currency">грн.</span>
            </div>
            <button class="btn btn--md product-card__btn" type="button">
              До кошика
            </button>
          </article>
        </li>

        <li class="burgers-slider__item swiper-slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чізбургер з листям салату</h3>
            </a>
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burger/burger5.jpg" width="140" height="140"
                alt="Чізбургер з листям салату" />
            </a>
            <div class="product-card__price">
              160 <span class="product-card__currency">грн.</span>
            </div>
            <button class="btn btn--md product-card__btn" type="button">
              До кошика
            </button>
          </article>
        </li>
      </ul>
      <div class="burgers-slider__dots dots"></div>
    </div>

  </div>
</section>