<section class="catalog">
  <h2 class="sr-only">Список продуктів</h2>

  <ul class="categories-list catalog__list">
    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чізбургер з листям салату</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger1.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          160 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Біфбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger2.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          190 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Королівський чізбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger3.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          260 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чорний гамбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger4.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          199 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чікен бургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger5.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          160 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чізбургер з листям салату</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger1.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          160 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Біфбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger2.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          190 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Королівський чізбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger3.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          260 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чікен бургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger5.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          160 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Чізбургер з листям салату</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger1.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          160 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Біфбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger2.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          190 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

    <li class="categories-list__item ">
      <article class="product-card">
        <a class="product-card__link" href="#">
          <h3 class="product-card__title">Королівський чізбургер</h3>
        </a>
        <a class="product-card__link" href="#">
          <img class="product-card__img" src="images/burger/burger3.jpg" width="140" height="140"
            alt="Чізбургер з листям салату" />
        </a>
        <div class="product-card__price">
          260 <span class="product-card__currency">грн.</span>
        </div>
        <button class="btn btn--md product-card__btn" type="button">
          До кошика
        </button>
      </article>
    </li>

  </ul>

  @include('../components/_pagination.html')

</section>