<section class="discount mb-120">
  <div class="container">
    <h2 class="title">Акції та знижки</h2>
    <div class="discount__slider swiper">
      <ul class="discount__list cols swiper-wrapper">
        <li class="discount__item swiper-slide">
          <article class="rest-card">
            <figure class="rest-card__head">
              <img class="rest-card__img" src="images/resto/resto_1.jpg" alt="Фото ресторана" width="370"
                height="300" />
            </figure>
            <div class="rest-card__content">
              <h3 class="rest-card__title">Знижка на другу піцу</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="rest-card">
            <figure class="rest-card__head">
              <img class="rest-card__img" src="images/resto/resto_5.jpg" alt="Фото ресторана" width="370"
                height="300" />
            </figure>
            <div class="rest-card__content">
              <h3 class="rest-card__title">Картопелька з KFC задарма при замовленні бургера</h3>
            </div>
          </article>
        </li>
        <li class="discount__item swiper-slide">
          <article class="rest-card">
            <figure class="rest-card__head">
              <img class="rest-card__img" src="images/resto/resto_6.jpg" alt="Фото ресторана" width="370"
                height="300" />
            </figure>
            <div class="rest-card__content">
              <h3 class="rest-card__title">Чорні бургери на чорний день</h3>
            </div>
          </article>
        </li>

      </ul>

      <div class="discount__dots"></div>
    </div>
  </div>
</section>