<section class="reviews mb-120">
  <div class="container">
    <h2 class="title">Відгуки клієнтів</h2>

    <div class="reviews__slider swiper">
      <ul class="reviews__items swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <figure class="reviews__content">
            <img
              class="reviews__img"
              src="images/reviews.png"
              alt="Відгук Дарини, її фото "
            />
            <span class="sr-only">Відгук Дарини, з великим бургером</span>
            <figure class="reviews__right">
              <blockquote class="reviews__text">
                SimpleFood - одна з найкращих служб доставки продуктів з
                ресторанів у місті. Дуже зручний сайт та застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто
                проводить акції та дарує знижки на доставку - однозначно
                рекомендую!
              </blockquote>
              <figcaption class="reviews__name">
                Дарина
                <p class="reviews__span">Поціновувачка смачної їжі</p>
              </figcaption>
            </figure>
          </figure>
        </li>
        <li class="reviews__item swiper-slide">
          <figure class="reviews__content">
            <img
              class="reviews__img"
              src="images/reviews.png"
              alt="На фото Дарина, вона написала відгук "
            />
            <span class="sr-only">Відгук Дарини, з великим бургером</span>
            <figure class="reviews__right">
              <blockquote class="reviews__text">
                SimpleFood - одна з найкращих служб доставки продуктів з
                ресторанів у місті. Дуже зручний сайт та застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто
                проводить акції та дарує знижки на доставку - однозначно
                рекомендую!
              </blockquote>
              <figcaption class="reviews__name">
                Дарина
                <p class="reviews__span">Поціновувачка смачної їжі</p>
              </figcaption>
            </figure>
          </figure>
        </li>
        <li class="reviews__item swiper-slide">
          <figure class="reviews__content">
            <img
              class="reviews__img"
              src="images/reviews.png"
              alt="На фото Дарина, вона написала відгук "
            />
            <span class="sr-only">Відгук Дарини, з великим бургером</span>
            <figure class="reviews__right">
              <blockquote class="reviews__text">
                SimpleFood - одна з найкращих служб доставки продуктів з
                ресторанів у місті. Дуже зручний сайт та застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто
                проводить акції та дарує знижки на доставку - однозначно
                рекомендую!
              </blockquote>
              <figcaption class="reviews__name">
                Дарина
                <p class="reviews__span">Поціновувачка смачної їжі</p>
              </figcaption>
            </figure>
          </figure>
        </li>
        <li class="reviews__item swiper-slide">
          <figure class="reviews__content">
            <img
              class="reviews__img"
              src="images/reviews.png"
              alt="На фото Дарина, вона написала відгук "
              width="300"
              height="300"
            />
            <span class="sr-only">Відгук Дарини, з великим бургером</span>
            <figure class="reviews__right">
              <blockquote class="reviews__text">
                SimpleFood - одна з найкращих служб доставки продуктів з
                ресторанів у місті. Дуже зручний сайт та застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто
                проводить акції та дарує знижки на доставку - однозначно
                рекомендую!
              </blockquote>
              <figcaption class="reviews__name">
                Дарина
                <p class="reviews__span">Поціновувачка смачної їжі</p>
              </figcaption>
            </figure>
          </figure>
        </li>
      </ul>
      <div class="reviews__actions">
        <button class="reviews__btn reviews__btn--prev" type="button"></button>
        <div class="reviews__dots dots"></div>
        <button class="reviews__btn reviews__btn--next" type="button"></button>
      </div>
    </div>
  </div>
</section>
